*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quantico";
  src: url("./Quantico/Quantico-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quantico";
  src: url("./Quantico/Quantico-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  background: black;
  font-family: "Quantico";
  justify-content: center;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  text-align: center;
}

#time {
  font-size: 5rem;
}

.footer {
  display: flex;
  flex-direction: column;
}
button {
  font-family: inherit;
  font-size: 3rem;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 40px;
  padding-inline: 1em;

  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.1);
  transform: translate(0px, 5px);
  box-shadow:
    0px 2px 5px rgba(255, 255, 255, 0.7),
    0px 4px 10px rgba(255, 255, 255, 0.7);
}

#date {
  margin-top: 1em;
  font-size: 2rem;
}
